.ticket-count-box {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    transition: transform 0.2s ease-in-out;

  }
  
  .count {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  
  .status {
    font-size: 20px;
    color: #333;
    font-weight: bold;
  }
  